@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap");

$colors: (
  primary-color: #feff00,
  secondary-color: #13cdff,
  main-black: #1e1d1d,
  main-white: white,
);
$fonts: (
  main-font: "Roboto",
  secondary-font: "Pacifico",
);
